body {
 background-color: lawngreen;
 color:rebeccapurple;
 display: flex;
 

}

li {
  font-size: 100px;
}

p {
  font-size: 50px;
  color: hotpink;

}
h1{
  background: rgb(2,0,36);
  background: linear-gradient(75deg, rgba(2,0,36,1) 0%, rgba(9,121,78,1) 35%, rgba(143,7,85,1) 51%, rgba(105,168,73,1) 75%, rgba(0,212,255,1) 100%);
  font-size: 500px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 40px 60px red;
}
